<div class="well page">
    <div class="page-header">
        <h3>G-Force Project Camp</h3>
    </div>
    <div class="row">
        <div class="col-md-6">

            <p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipiscing elit</li>
                <li>Integer molestie lorem at massa</li>
            </ul>
            <h3> blah blah blah...</h3>
            <p> Laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-md-6">
            <map class="ui-map" zoom="16" center="[14.636963, 121.030221]" scrollwheel="false">
                <marker position="[14.636963, 121.030221]" title="marker" animation="Animation.DROP"></marker>
                <!-- <marker position="[40.73, -74.19]" title="drag me" draggable="true"></marker> -->
            </map>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-12">
            <h2>Glamping Gallery</h2>
            <div kinetic-slider class="kinetic-slider-container">
                <div class="kinetic-slider-content">
                  <a href="#">
                    <img src="images/glamping/1.jpg" alt=""/>
                  </a>
                  <a href="#">
                    <img src="images/glamping/2.jpg" alt=""/>
                  </a>
                  <a href="#">
                    <img src="images/glamping/3.jpg" alt=""/>
                  </a>
                  <a href="#">
                    <img src="images/glamping/4.jpg" alt=""/>
                  </a>
                  <a href="#">
                    <img src="images/glamping/5.jpg" alt=""/>
                  </a>
                  <a href="#">
                    <img src="images/glamping/6.jpg" alt=""/>
                  </a>
                  <a href="#">
                    <img src="images/glamping/7.jpg" alt=""/>
                  </a>
                </div>
            </div>
        </div>
    </div>
</div>