<div class="well page ">
    <div class="page-header">
        <h3>Dance Classes</h3>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <ul class="nav nav-boxed nav-justified ">
                <li class="withripple" >
                    <a href="" ng-click="vm.selectBatch('batch-1')"><i class="color-success fa fa-list "></i>
                    Batch 1 (May 4 - 8, 2015)</a>
                </li>
                <li class="withripple">
                    <a href="" ng-click="vm.selectBatch('batch-2')"><i class="color-warning fa fa-list"></i>
                    Batch 2 (May 11 - 14, 2015)</a>
                </li>
            </ul>
            <div class="list-group">
                <div class="panel-body ui-map " data-slim-scroll data-scroll-height="600px">
                    <div data-ng-repeat="danceClass in vm.danceClassList | where:{batch:vm.batch}" >
                        <div class="list-group-item withripple" data-ng-click="vm.select(danceClass.id)">
                            <div class="row-picture">
                                <!-- <img class="circle" ng-src="http://lorempixel.com/g/56/56/people/{{danceClass.id}}" alt="icon"> -->
                                <img class="circle" ng-src="images/teachers/teachers_{{danceClass.photo}}.jpg" alt="icon">
                            </div>
                            <div class="row-content ">
                                <h4 class="list-group-item-heading">{{danceClass.title}}</h4>
                                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus</p>
                            </div>
                        </div>
                        <div class="list-group-separator"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6" ng-show="vm.showinfo">
            <div class="well" style="height:600px;">
                <div ui-view></div>
            </div>
        </div>


    </div>

    <div class="row">
      <div class="col-lg-3 col-md-offset-11">
        <button class="btn btn-fab btn-raised btn-material-red btn-raised" style="bottom: 130px; rigth:0px; z-index:3;" ng-click="vm.classVid.player.playVideo()">
            <i class="mdi-navigation-arrow-forward"></i>
        </button>
      </div>
    </div>
</div>

<script>
    $(function() {
        $.material.ripples();
    });
</script>
