
<div class="well page" >
  <div class="page-header">
      <h3>G-Force Official Apparel</h3>
  </div>
    <div class="row" >
        <div class="col-md-12">
            <div kinetic-slider class="kinetic-slider-container">
                <div class="kinetic-slider-content">
                  <a ui-sref="apparel">
                    <img src="images/mockups/mockup_1.jpg" alt=""/>
                  </a>
                  <a ui-sref="apparel">
                    <img src="images/mockups/mockup_2.jpg" alt=""/>
                  </a>
                  <a ui-sref="apparel">
                    <img src="images/mockups/mockup_3.jpg" alt=""/>
                  </a>
                  <a ui-sref="apparel">
                    <img src="images/mockups/mockup_4.jpg" alt=""/>
                  </a>
                  <a ui-sref="apparel">
                    <img src="images/mockups/mockup_5.jpg" alt=""/>
                  </a>
                  <a ui-sref="apparel">
                    <img src="images/mockups/mockup_6.jpg" alt=""/>
                  </a>
                  <a ui-sref="apparel">
                    <img src="images/mockups/mockup_7.jpg" alt=""/>
                  </a>
                  <a ui-sref="apparel">
                    <img src="images/mockups/mockup_8.jpg" alt=""/>
                  </a>
                  <a ui-sref="apparel">
                    <img src="images/mockups/mockup_9.jpg" alt=""/>
                  </a>
                  <a ui-sref="apparel">
                    <img src="images/mockups/mockup_10.jpg" alt=""/>
                  </a>
                </div>
            </div>
        </div>
    </div>
</div>
