<div class="well page">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h3>Web Cam</h3>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-lg-12">
                <p>It is an annual workshop by the G-Force which is being offered every summer and sembreak. It is composed of various dance classes ranging from Hip-Hop, K-Pop, Dubstep, Zumba, Burlesque, JazzFunk and, now on its second year, #whiteshirtlove.</p>
                <h5>Lorem Ipsum</h5>
            <webcam on-stream="onStream(stream)" on-error="onError(err)" on-streaming="onSuccess()" video="thisvideo">
            </webcam>
            <a><button class="btn btn-primary btn-raised">Take Snapshot</button></a>
            <a ui-sref="gforceproject-summary"><button class="btn btn-primary btn-raised">Proceed</button></a>
        </div>
    </div>
</div>
