<div class="well page" >
    <div class="page-header">
        <h3>Welcome to G-Force Project 2015 - Summer Dance Glamping</h3>
    </div>
    <div class="row paddingtop20">
        <div class="col-md-12">
            <div class="col-lg-5">
                  <img src="images/poster/poster-size-8.25x10.75.jpg" class="img-responsive" style="width:85%;">
            </div>
            <div class="col-lg-7">
                <h2>About G-Force Project</h2>

                <p>It is an annual workshop by the G-Force which is being offered every summer and sembreak. It is composed of various dance classes ranging from Hip-Hop, K-Pop, Dubstep, Zumba, Burlesque, JazzFunk and, now on its second year, #whiteshirtlove.</p>
                <br>
                <h5>Lorem Ipsum</h5>

                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Nulla volutpat aliquam velit</li>
                        <li>Faucibus porta lacus fringilla vel</li>
                        <li>Aenean sit amet erat nunc</li>
                        <li>Eget porttitor lorem</li>
                    </ul>
            <br>
            <br>
                <a ui-sref="gforceproject-danceClasses"><button class="btn btn-primary btn-raised">Enroll Now!</button></a>
            </div>

        </div>
    </div>
</div>


