<div class="nav-wrapper ">
    <ul id="nav"
        class="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>

        <li class="withripple">
            <a ui-sref="gforceproject">
                <i class="fa fa-star"></i><span>G-Force Project</span>
            </a>
        </li>

      <!--   <li class="withripple ">
            <a ui-sref="enrollment">
                <i class="fa fa-graduation-cap"></i><span>Enrollment</span>
            </a>
        </li> -->
         <li class="withripple ">
            <a ui-sref="danceClasses">
                <i class="fa fa-check-square-o"></i><span>Class Card</span>
            </a>
        </li>
        <li class="withripple ">
            <a>
                <i class="fa fa-check-square"></i><span>Dance Classes</span>
            </a>
        </li>

        <!-- <li class="withripple ">
            <a ui-sref="schedule">
                <i class="fa fa-calendar"></i><span>Schedule</span>
            </a>
        </li> -->
         <li class="withripple ">
            <a ui-sref="rates">
                <i class="fa fa-money"></i><span>Rates</span>
            </a>
        </li>
         <li class="withripple ">
            <a ui-sref="camp">
                <i class="fa fa-map-marker"></i><span>Glamping</span>
            </a>
        </li>

        <li class="withripple ">
            <a ui-sref="apparel">
                <i class="fa fa-shopping-cart"></i><span>Apparel</span>
            </a>
        </li>
        <li class="withripple ">
            <a ui-sref="about">
                <i class="fa fa-copyright"></i><span>About G-Force Project</span>
            </a>
        </li>
        <li><a href="#/testpages"> <i class="fa fa-question-circle"></i><span>Test Page</span> </a>
             <ul>
                <li class="withripple"><a ui-sref="test"><i class="fa fa-angle-right"></i>
                    <span>Test Page</span>
                    </a>
                </li>
                <li class="withripple"><a ui-sref="testform"><i class="fa fa-angle-right"></i>
                    <span>Test Form Page</span>
                    </a>
                </li>
                <li class="withripple"><a ui-sref="testCamera"><i class="fa fa-angle-right"></i>
                    <span>Test Camera Api</span>
                    </a>
                </li>
            </ul>
        </li>

    </ul>
</div>

